#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

TMP = $(CURDIR)/debian/tmp

%:
	dh $@

override_dh_auto_install:
	dh_auto_install --destdir=$(TMP)
