#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

TMP = $(CURDIR)/debian/tmp

%:
	dh $@

override_dh_auto_configure:
	cp $(CURDIR)/debian/CMakeLists.txt $(CURDIR)/
	dh_auto_configure -- -DDISABLE_ROS=ON

override_dh_auto_install:
#ROS2	mkdir -p $(TMP)/opt/ros/@ROS_DISTRO@/share/ament_index/resource_index/packages/
#ROS2	touch $(TMP)/opt/ros/@ROS_DISTRO@/share/ament_index/resource_index/packages/jvrc_description
#ROS2	touch $(TMP)/opt/ros/@ROS_DISTRO@/share/ament_index/resource_index/packages/mc_env_description
#ROS2	touch $(TMP)/opt/ros/@ROS_DISTRO@/share/ament_index/resource_index/packages/mc_int_obj_description
	dh_auto_install --destdir=$(TMP)
